*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore


# Secrets / signing
app/secrets.properties
app/google-services.json
app/keystore/
*.jks
*.keystore

# Local build artifacts
release-build.log
app/build/
